<div class="content">
	<div fxLayout="row" fxLayoutAlign="space-around center">
	<mat-card fxFlex="40"> 
		   
		<mat-card-header>
			<mat-card-title>Lançamento de Despesas</mat-card-title>
			<mat-card-subtitle></mat-card-subtitle>			
		</mat-card-header>		
		<mat-card-content>
			<mat-input-container>			
					<input required matInput name="data" [matDatepicker]="picker" [(ngModel)]="conta.data" placeholder="Informe a data do lançamento">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
			</mat-input-container>	
				<p></p>				
			<mat-form-field>
				<mat-select name="planoConta" [(ngModel)]="conta.contaReceita"  id="cmbReceita" placeholder="Selecione a Receita">
					<mat-option *ngFor="let planoConta of planoContas" [value]="planoConta.id">
						{{planoConta.nomeConta}} - {{planoConta.natureza}}
					</mat-option>
				</mat-select>	
			</mat-form-field>
				<p></p>
			<mat-form-field>
				<mat-select name="planoConta" [(ngModel)]="conta.contaDespesa"  id="cmbDespesa" placeholder="Selecione a Despesa">
					<mat-option *ngFor="let planoConta of planoContas" [value]="planoConta.id">
						{{planoConta.nomeConta}} - {{planoConta.natureza}}
					</mat-option>
				</mat-select>
			</mat-form-field>
				<p></p>
			<mat-input-container>								
				<input [(ngModel)]="conta.valor" type="number"  matInput placeholder="Despesa R$" class="example-right-align">
				<span matPrefix>R$&nbsp;</span>		
			</mat-input-container>										
				<p></p>												
													
			</mat-card-content>
			<mat-card-actions>
				<button type="button" mat-raised-button (click)="gerarConta()">Lançar</button>			
				<button type="button" mat-raised-button >Cancelar</button>
			
		</mat-card-actions>
	</mat-card>
	</div>
</div>

