<div id="chequinhoimpressao">	
	<div *ngFor="let chequinho of chequinhos">

		<div style="margin-top:0.4cm;max-height:1cm">
<!--		<label style="font-size:11px;margin-left:7.2cm;max-width:3.5cm;min-width:3.5">{{chequinho.id}}</label>	-->
			<label style="position: fixed;font-size:11px;margin-left:7.2cm;max-width:3.5cm;min-width:3.5">1231</label>														
			<span style="width: 2.8cm;min-width:2.8cm"> sampletext</span>
			<label style="font-size:11px;margin-left:3.7cm;max-width:4.7cm;">{{chequinho.valorLimite}}</label>												
		</div>
		<div style="margin-top:3.4cm">
			<label style="font-size:11px;margin-left:3.2cm;max-width:4.3cm">{{chequinho.associado.id}}</label>			
		
			<label style="font-size:11px;margin-left:0.9cm;min-width:10cm;max-width:10cm"> {{chequinho.associado.nome}}</label>							

			<label style="font-size:11px;margin-left:6.2cm;max-width:7.2cm">{{chequinho.associado.cpf}}</label>										
		</div>
		<div style="margin-top:1.9cm"></div>
		<br/>
		<br/>			
		<!--<ngx-barcode
		[bc-format]='CODE128B'
		[bc-element-type]='svg'
		[bc-value]='1233212'
		[bc-width]=4
		[bc-height]=50
		[bc-display-value]=true
		[bc-font]='monospace'></ngx-barcode>-->
	</div>	
</div>