		<div>
			<div>
			<div style="max-width:200px" class="borda">
				<label>Número:</label>
				<p></p>
				<label>{{chequinho.id}}</label>
			</div>
			<div style="max-width:200px" class="borda">
					<label>Valor Utilizado R$:</label>
					<p></p>
					<label>{{chequinho.valorLimite}}</label>
				</div>
				<div style="max-width:200px" class="borda">
					<label>Valor Utilizado R$:</label>
					<p></p>
					<label>______________</label>
				</div>
			</div>
				
					<label>Valor por extenso</label>
					<label>______________________________________________________</label>
				
				<p></p>
				<label>_________________________ de ________________ de ______________</label>
				<p></p>
				<label>Valido com identificação pessoal com foto</label>
				<p></p>
				
					<label width="1px"> Código</label>
					<label>{{chequinho.associado.id}}</label>
				
				
					<label width="5px"> CPF</label>
					<label>{{chequinho.associado.cpf}}</label>
				
				
					<label width="5px"> Nome</label>
					<label> {{chequinho.associado.nome}}</label>
				
				<p></p>
				<label>______________________________________________________</label>
				<p></p>
				<label>Assinatura do associado</label>
			
		</div>

