<script src="angular-input-masks-standalone.min.js"></script>

<div class="example-container mat-elevation-z8">
	<div class="example-header">
	  <mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	  </mat-form-field>
	</div>

	

	<mat-table #table [dataSource]="dataSource" matSort>
		
  
	  <!-- Position Column -->
	  <ng-container matColumnDef="Conveniado">
		<mat-header-cell *matHeaderCellDef> Conveniado </mat-header-cell>
		<mat-cell *matCellDef="let elemento"> {{elemento.conveniado}} </mat-cell>
	  </ng-container>
  
	  <!-- Name Column -->
	  <ng-container matColumnDef="Associado">
		<mat-header-cell *matHeaderCellDef> Associado </mat-header-cell>
		<mat-cell *matCellDef="let elemento"> {{elemento.associado}} </mat-cell>
	  </ng-container>
  
	  <!-- Weight Column -->
	  <ng-container matColumnDef="Valor">
		<mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
		<mat-cell *matCellDef="let elemento"> R$ {{elemento.valor}} </mat-cell>
	  </ng-container>
  
	  <!-- Color Column -->
	  <ng-container matColumnDef="Data">
		<mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
		<mat-cell *matCellDef="let elemento"> {{elemento.dia}} </mat-cell>
		</ng-container>
		
		<!-- Color Column -->
	  <ng-container matColumnDef="acao">
			<mat-header-cell *matHeaderCellDef  class="limit-cell">  Ação </mat-header-cell>
			<mat-cell *matCellDef="let elemento"  class="limit-cell"> 
			
					<button mat-icon-button color="Link" (click)="delete(elemento.id); getAll();"
					>
					<mat-icon>delete</mat-icon>
				</button>

			</mat-cell>
			</ng-container>
  
	  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	  <mat-row *matRowDef="let elemento; columns: displayedColumns;"></mat-row>
	</mat-table>
	
	<mat-paginator #paginator
		[pageSize]="1"
		[pageSizeOptions]="[5, 10, 20]">
	</mat-paginator>
  </div>


<button mat-fab (click)="openDialog()" class="fab-bottom-right">
	<mat-icon>add</mat-icon>
</button>