
<div class="content" fxFlex fxLayout="grid" fxLayoutAlign="space-around ">			
	<mat-card>    
		<mat-card-header>
			<mat-card-title> Lançamento </mat-card-title>
			<mat-card-subtitle>Informe os dados ou use o código de barras</mat-card-subtitle>	
			<mat-card-subtitle></mat-card-subtitle>			
		</mat-card-header>		
		<mat-card-content>				
		<mat-form-field>	
			<mat-select [(ngModel)]="lancamento.associado"  id="cmbAssociado" placeholder="Selecione o Associado">
				<mat-option *ngFor="let associadoValue of associados" [value]="associadoValue">
					{{associadoValue.nome}}
				</mat-option>
      </mat-select>
      
    </mat-form-field>

		<p></p>

		<mat-form-field>	
			<mat-select [(ngModel)]="lancamento.conveniado"  id="cmbConveniado" placeholder="Selecione o Conveniado">
				<mat-option *ngFor="let conveniadoValue of conveniados" [value]="conveniadoValue">
					{{conveniadoValue.razaosocial}}
				</mat-option>
      </mat-select>
      
    </mat-form-field>

		<p></p>
		
		
		<mat-input-container>								
			<input [(ngModel)]="lancamento.valor" type="number"  matInput placeholder="Valor R$" class="example-right-align">
			<span matPrefix>R$&nbsp;</span>		
		</mat-input-container>													
									

		</mat-card-content>
		<mat-card-actions>
			<button type="button" mat-raised-button (click)="salvarLancamento()">Salvar</button>
			
	</mat-card-actions>
	</mat-card>
</div>

