/* Structure */
.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-left: 33px;
    padding-right: 33px;
    box-shadow: none!important;  
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
   
  }

  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  

  .fab-bottom-right {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
  
  .limit-cell{
    max-width: 30px;
    

  }