<div fxLayout="row" fxLayoutAlign="space-around center">
	<mat-horizontal-stepper>
		<mat-step>
			<form>
				<ng-template matStepLabel>Dados pessoais do Conveniado</ng-template>
				<form #dadosPessoaisForm="ngForm">
					<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start">
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<input matInput placeholder="Razão Social" [(ngModel)]="conveniado.razaosocial" required name="razaosocial">
						</mat-form-field>					
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<input matInput placeholder="Nome Fantasia" [(ngModel)]="conveniado.nomefantasia" required name="nomefantasia">
						</mat-form-field>
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<input matInput placeholder="CNPJ" [(ngModel)]="conveniado.cnpj" required name="cnpj">
						</mat-form-field>
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<input matInput placeholder="Comissão" [(ngModel)]="conveniado.comissao" required name="comissao">
						</mat-form-field>					
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<input matInput placeholder="Telefone" [(ngModel)]="conveniado.telefone" required name="telefone">
						</mat-form-field>	
						<mat-form-field fxFlex="30" class="p-5">
							<input required matInput name="datacadastro" [matDatepicker]="picker" [(ngModel)]="conveniado.datacadastro" placeholder="Informe a data de cadastro">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<mat-select name="tipoconveniado" placeholder="Tipo Conveniado" [(ngModel)]="conveniado.tipoconveniado">
								<mat-option  *ngFor="let tipoconveniado of tipoconveniados" [value]="tipoconveniado.id">
								{{ tipoconveniado.descricao }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<div fxLayout="row" fxLayoutAlign="center start" fxFlex="50" class="p-5">
							<label>Status:</label>
							<mat-radio-group [(ngModel)]="conveniado.ativo" name="ativo" required>
								<mat-radio-button color="primary" class="margin-10" value="ATIVO">Ativo</mat-radio-button>
								<mat-radio-button color="primary" class="margin-10" value="INATIVO">Inativo</mat-radio-button>
							</mat-radio-group>
						</div>
					</div>
				</form>
				<div fxLayout="row">
					<button mat-button matStepperNext color="primary" [disabled]="!dadosPessoaisForm.form.valid">Próximo</button>
				</div>
			</form>
		</mat-step>
		<mat-step>
			<form>
				<ng-template matStepLabel>Endereço</ng-template>
				<form #enderecoForm="ngForm">
					<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start">
						<mat-form-field fxFlex.gt-sm="50" fxFlex="100" class="p-5">
							<input matInput placeholder="Cep" [(ngModel)]="conveniado.endereco.cep" name="cep"
							 (blur)="getAddressByPostalCode(conveniado.endereco.cep)">
						</mat-form-field>
						<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start" fxFlex.gt-sm="50" fxFlex="100" class="p-5">
							<mat-form-field fxFlex="80" class="p-5">
								<input matInput placeholder="Endereço" [(ngModel)]="conveniado.endereco.logradouro" required name="endereco">
							</mat-form-field>
							<mat-form-field fxFlex="20" class="p-5">
								<input matInput type="number" placeholder="Nº" [(ngModel)]="conveniado.endereco.numero" required name="numero">
							</mat-form-field>
						</div>
						<mat-form-field fxFlex.gt-sm="50" fxFlex="100" class="p-5">
							<input matInput placeholder="Bairro" [(ngModel)]="conveniado.endereco.bairro" required name="bairro">
						</mat-form-field>
						<mat-form-field fxFlex.gt-sm="50" fxFlex="100" class="p-5">
							<input matInput placeholder="Complemento" [(ngModel)]="conveniado.endereco.complemento" required name="complemento">
						</mat-form-field>

						<mat-form-field fxFlex.gt-sm="50" fxFlex="100" class="p-5">
							<input matInput placeholder="Localidade/Cidade" [(ngModel)]="conveniado.endereco.localidade" required name="localidade">
						</mat-form-field>
						<mat-form-field fxFlex.gt-sm="50" fxFlex="100" class="p-5">
							<input matInput placeholder="UF" [(ngModel)]="conveniado.endereco.uf" required name="uf">
						</mat-form-field>
					</div>
				</form>
				<div>
					<button mat-button matStepperPrevious>Voltar</button>
					<button mat-button matStepperNext color="primary" [disabled]="!enderecoForm.form.valid">Próximo</button>
				</div>
			</form>
		</mat-step>
		<mat-step>
			<form>
				<ng-template matStepLabel>Dados da Conta Corrente</ng-template>
				<form #dadosContaCorrenteForm="ngForm">
					<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start">
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<input matInput placeholder="Nome da Conta" [(ngModel)]="conveniado.contacorrente.nome" required name="nome" >
						</mat-form-field>					
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<input matInput placeholder="Número da Conta" [(ngModel)]="conveniado.contacorrente.nrConta" required name="nrConta">
						</mat-form-field>
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<input matInput placeholder="Agência" [(ngModel)]="conveniado.contacorrente.agencia" required name="agencia">
						</mat-form-field>
						<mat-form-field fxFlex.gt-sm="30" fxFlex="30" class="p-5">
							<mat-select name="banco" placeholder="Banco" [(ngModel)]="conveniado.contacorrente.banco">
								<mat-option  *ngFor="let banco of bancos" [value]="banco.id">
								{{ banco.descricao }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</form>
				<div fxLayout="row">
					<button mat-button matStepperNext color="primary" [disabled]="!dadosContaCorrenteForm.form.valid">Próximo</button>
				</div>
			</form>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Confirmar Dados</ng-template>
			<div *ngIf="!error && !success">
					<div class="ibox product-detail">
						<div class="ibox-content">
							<div class="row">
								<div class="col-mat-7">
									<h2 class="font-bold m-b-xs">
											<small class="text-muted">Razão Social</small><br>
										{{conveniado.razaosocial}}
									</h2>
									<div class="m-t-mat">
										<h2 class="product-main-price">
											<small class="text-muted">Nome Fantasia</small><br>
											{{conveniado.nomefantasia}}
										</h2>
									</div>
									<hr>
									<h4>Confira os dados do Conveniado:</h4>
									<div class="small text-muted">
										<br>Data Cadastro: {{conveniado.datacadastro | date}}
										<br>Telefone: {{conveniado.telefone}}
										<br>Cnpj: {{conveniado.cnpj}}
										<br>Comissão: {{conveniado.comissao}}
										<br>Tipo Conveniado: {{conveniado.tipoconveniado}}
										<br>Cep: {{conveniado.endereco?.cep}}
										<br>Estado: {{conveniado.endereco?.uf}}
										<br>Cidade: {{conveniado.endereco?.localidade}}
										<br>Bairro: {{conveniado.endereco?.bairro}}
										<br>Endereço: {{conveniado.endereco?.logradouro}} nº {{conveniado.endereco?.numero}}
										<br>Ativado: {{conveniado.ativo}}
									</div>
									<hr>
								</div>
							</div>

						</div>
					</div>
				</div>
			<app-animation-msg-error *ngIf="error"></app-animation-msg-error>
			<app-animation-msg-success *ngIf="success"></app-animation-msg-success>
			<div  md-dialog-actions fxLayout="row" fxLayoutAlign="end center">
				<button mat-button matStepperPrevious>Voltar</button>
				<button mat-button color="primary" [mat-dialog-close]="conveniado">Salvar</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</div>