<md-card>
	<md-card-header>
		<md-card-title>Informe os dados para cadstro de conveniado</md-card-title>
		<md-card-subtitle></md-card-subtitle>
	</md-card-header>
	<md-card-content>
		<form #formConveniado="ngForm">
			<md-form-field>
				<input mdInput placeholder="Razão Social" [(ngModel)]="conveniado.razaosocial" required name="razaosocial">
			</md-form-field>
			<md-form-field>
				<input mdInput placeholder="Nome Fantasia" [(ngModel)]="conveniado.nomefantasia" required name="nomefantasia">
			</md-form-field>
			<md-form-field>
				<input mdInput placeholder="Comissão" [(ngModel)]="conveniado.comissao" required name="comissao">
			</md-form-field>
			<md-form-field>
				<input mdInput placeholder="CGC" [(ngModel)]="conveniado.cgc" required name="cgc">
			</md-form-field>
			<md-form-field>
				<input mdInput placeholder="Telefone" [(ngModel)]="conveniado.telefone" required name="telefone">
			</md-form-field>
			<md-select placeholder="Status" [(ngModel)]="conveniado.ativo" required name="ativo">
				<md-option value="ATIVO">
					Ativo
				</md-option>
				<md-option value="INATIVO">
					Inativo
				</md-option>
			</md-select>
			<md-form-field>
				<input mdInput placeholder="Endereço" [(ngModel)]="conveniado.endereco" required name="endereco">
			</md-form-field>
			<md-form-field>
				<input mdInput placeholder="Cidade" [(ngModel)]="conveniado.cidade" required name="cidade">
			</md-form-field>
			<md-select placeholder="Tipo Conveniado" [(ngModel)]="conveniado.tipoconveniado" required name="tipoconveniado">
				<md-list-item *ngFor="let tipoconveniado of filteredTipoconveniados" [value]="tipoconveniado.descricao">
					<md-icon md-list-icon>folder</md-icon>
					<h4 md-line>{{tipoconveniado.descricao}}</h4>
				</md-list-item>
			</md-select>				  
		</form>
	</md-card-content>
	<md-card-actions>
		<button type="button" md-raised-button [disabled]="!formConveniado.form.valid" [md-dialog-close]="conveniado">SALVAR</button>
		<button type="button" md-button (click)="dialogRef.close()">CANCELAR</button>
	</md-card-actions>
</md-card>