a {
    color: inherit;
    text-decoration: none;
}

.expansion{
    margin-left: 100px;
    margin-right: 100px;
}

.corpo{
    width: 95%;
    height: 85%;
    margin-left: 20px;
    letter-spacing: 0.1em; word-spacing: 0.1em;
    font-size: 12px;
    text-align: center;
    text-align: justify;
}