<div fxLayout="column">
	<div fxFlex class="ibox">
		<div class="ibox-content text-center">
			<h3 class="m-b-xxs">Bem vindo ao Portal da ASSUTEF</h3>
		</div>
	</div>

	<mat-expansion-panel class="expansion">
		<mat-expansion-panel-header>
		  <mat-panel-title>
			Informações Gerais Sobre o Sistema
		  </mat-panel-title>

		</mat-expansion-panel-header>
		
		<div class="corpo">
			<h3>O site da Assutef está composto com as seguintes telas:</h3>
			<!--Paragrafo 1-->
			<br />
			<h5>Usuários</h5>
			<p>
				Serve para realizar o cadastro de pessoas que terão acesso ao sistema da ASSUTEF, deste colaboradores, administradores,
				e associados. Cada cadastro deve ser vinculado a um grupo de usuários, pois isso garantirá a restrição das informações na plataforma.
			</p>
			<br />
			<!--Paragrafo 2-->
			<h5>Grupo de usuários</h5>
			<p>
				Serve unicamente para realizar o cadastro de grupos específicos, como administradores, associados ou outros.
			</p>			
			<br />
			<!--Paragrafo 3-->
			<h5>Categoria</h5>
			<p>
				Serve para cadastrar os produtos que serão vendidos pela associação, e seu vinculo ocorrerá no cadastro dos produtos oferecidos.
			</p>
			<br />
			<!--Paragrafo 4-->
			<h5>Produto</h5>
			<p>
				Serve para cadastrar produtos ofertados pela associação.
			</p>
			<br />
			<!--Paragrafo 5-->
			<h5>Venda</h5>
			<p>
				Serve para cadastrar as vendas realizadas pela associação dos produtos cadastrados. Nesse registro será selecionado uma pessoa cadastrada, um produto e sua quantidade em valor R$ reais.
			</p>
			<br />
			<!--Paragrafo 6-->
			<h5>Associado</h5>
			<p>
				Serve para realizar o cadastro dos associados novos e a manutenção dos cadastros já registrados no sistema. Todos os campos presentes no cadastro são informações obrigatórias.
			</p>
			<br />
			<!--Paragrafo 7-->
			<h5>Tipo conveniado</h5>					
			<p>
				Serve para realizar o cadastro de tipos para os conveniados que prestam serviços a associação e aos seus associados, o tipo de conveniado servirá para possíveis relatórios, e seu cadastro deve seguir a necessidade da associação.
			</p>
			<br />
			<!--Paragrafo 8-->
			<h5>Conveniado</h5>
			<p>
				Serve para cadastrar os prestadores de serviços, como por exemplo, postos, mercados, planos de saúde entre outros. O cadastro do tipo de conveniado servirá para ser vinculado a esses registros, gerando facilitadores na geração dos relatórios.
			</p>
			<br />
			<!--Paragrafo 9-->
			<h5>Banco</h5>
			<p>
				Serve para realiza o cadastro dos bancos que serão vinculados aos lançamentos e chequinhos realizados pela associação.
			</p>
			<br />
			<!--Paragrafo 10-->
			<h5>Lançamentos</h5>
			<p>
				Serve para registrar no sistema as movimentações que ocorreram para determinado associado, providas da geração de chequinhos ou de serviços como convênio de saúde entre outros. Nesse cadastro deve ser informado obrigatóriamente o associado ao qual pertence, o conveniado e o valor da  movimentação realizada. Estes lançamentos não permitem edição, para evitar inconsistências nas informações lançadas, gerando divergências entre os dados. Por tanto, caso lançado um dado errado, deve-se excluir o registro e lança-lo novamente.
			</p>
			<br />	
			<!--Paragrafo 11-->
			<h5>Chequinhos</h5>
			<p>
				Serve para realizar os lançamentos dos chequinhos que são disponibilizados para os associados. Nesses lançamentos devem ser informado o associado que receberá o chequinho, o valor limite de cada chequinho, e a quantidade de chequinhos que será gerado.
			</p>
			<br />
			<!--Paragrafo 12-->
			<h3>Portal do Associado</h3>
			<h5>Painel</h5>
			<p>
				Serve para que os associados possam verificar seus gastos realizados, sendo destes chequinhos solicitados aos demais lançamentos realizados.
			</p>
			<br />			
		</div>
	  </mat-expansion-panel>	
</div>