<div class="content" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
	
	<mat-card>
		<mat-card-header>
			<mat-card-title>Grupo de usuários</mat-card-title>
			<mat-card-subtitle>Lista de Grupo de usuários cadastrados</mat-card-subtitle>
			<mat-input-container>
				<input matInput [(ngModel)]="query" name="query" placeholder="Pesquise por nome de grupo de usuário" (input)="filterGrupousuario(query)">
			</mat-input-container>
		</mat-card-header>
		<mat-card-content> <!-- lista  -->
			<mat-list>
				<h3 mat-subheader>Grupo de usuários</h3>
				<mat-list-item *ngFor="let grupousuario of grupousuarios" (click)="openGrupouser(grupousuario)">					
				
					<div fxLayout="row" fxLayoutAlign="space-between center" >
						<div>
							<h4 mat-line>{{grupousuario.nome}}</h4>
							
						</div>
						<div>
							<button mat-icon-button color="primary" (click)="openNewGrupousuarioDialog(grupousuario)"
							matTooltip="Editar o grupo de usuário {{grupousuario.nome}}">
							<mat-icon>create</mat-icon>
						</button>
						<button mat-icon-button color="warn" (click)="delete(grupousuario)"
							matTooltip="Remover o grupo de usuário {{grupousuario.nome}}">
							<mat-icon>delete</mat-icon>
						</button>
						</div>
					</div>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>



<button mat-fab (click)="openNewGrupousuarioDialog()" class="fab-bottom-right">
	<mat-icon>add</mat-icon>
</button>