:host {
    display: flex;
    flex: 1;
  }
  
  mat-sidenav {
    width: 320px;
  }
  mat-sidenav-container {
      height: 100vh;
  }
  .content {
    padding: 12px;
  }
  
  /deep/ mat-icon.avatar {
    overflow: hidden;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 12px;
  }
  
  .fab-bottom-right {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
  
  /deep/ .mat-list-item-content {
    height: auto !important;
  }

  .mat-form-field {
    width: 600px;
  }

  .divCodigo{
    width: 23%;
  }

  .divNome{
      width: 65%;
  }

  .alinhar{
    position: relative;
  }

  .bancoReg{
    background-color: white;
  }
  
  .bancoReg :hover{
    background-color: #f2f2f2;
    cursor: pointer;
  }