<md-card>
	<md-card-header>
		<md-card-title>Associado</md-card-title>
		<md-card-subtitle>Informe os dados para cadstro de associado</md-card-subtitle>
	</md-card-header>
	<md-card-content>
		<!-- TODO - adicionar datepiker no campo aniversário-->
		<form #formAssociado="ngForm">
			<md-form-field>
				<input mdInput placeholder="name" [(ngModel)]="associado.name" required name="name">
			</md-form-field>
			<md-form-field>
				<input mdInput type="email" placeholder="email" [(ngModel)]="associado.email" required name="email">
			</md-form-field>
			<md-form-field>
				<input mdInput placeholder="tel" [(ngModel)]="associado.tel" required name="tel">
			</md-form-field>
			<md-form-field>
				<input mdInput placeholder="cpf" [(ngModel)]="associado.cpf" required name="cpf">
			</md-form-field>
			<md-form-field>
				<input mdInput placeholder="aniversario" [(ngModel)]="associado.aniversario" required name="aniversario">
			</md-form-field>
			<md-select placeholder="Sexo" [(ngModel)]="associado.sexo" required name="sexo">
				<md-option value="MASCULINO">
					Masculino
				</md-option>
				<md-option value="FEMININO">
					Feminino
				</md-option>
			</md-select>
			<md-form-field>
				<input mdInput placeholder="endereco" [(ngModel)]="associado.endereco" required name="endereco">
			</md-form-field>
		</form>
	</md-card-content>
	<md-card-actions>
		<button type="button" md-raised-button [disabled]="!formAssociado.form.valid" [md-dialog-close]="associado">SALVAR</button>
		<button type="button" md-button (click)="dialogRef.close()">CANCELAR</button>
	</md-card-actions>
</md-card>