<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" class="main-menu">
        <navigation></navigation>
    </mat-sidenav>
    <div class="my-content">
        <mat-toolbar color="primary">
            <button *ngIf="!sidenav.opened" mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>
            <button *ngIf="sidenav.opened" mat-icon-button (click)="sidenav.close()">
                <mat-icon>close</mat-icon>
            </button>
            <span>Assutef</span>
            <ol class="breadcrumb">
                <li *ngFor="let breadcrumb of breadcrumbs">
                    <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
                </li>
            </ol>
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/perfil']">
                  <mat-icon>person_outline</mat-icon>
                  <span>Perfil</span>
                </button>
                <button mat-menu-item [routerLink]="['/login']">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Sair</span>
                </button>
              </mat-menu>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>