<mat-card>
	<mat-card-header>
		<mat-card-title>Associado</mat-card-title>
		<mat-card-subtitle>Informe os dados para cadstro de associado</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<!-- TODO - adicionar datepiker no campo aniversário-->
		<form #formAssociado="ngForm">
			<mat-form-field>
				<input matInput placeholder="name" [(ngModel)]="associado.name" required name="name">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="email" placeholder="email" [(ngModel)]="associado.email" required name="email">
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="tel" [(ngModel)]="associado.tel" required name="tel">
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="cpf" [(ngModel)]="associado.cpf" required name="cpf">
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="aniversario" [(ngModel)]="associado.aniversario" required name="aniversario">
			</mat-form-field>
			<mat-select placeholder="Sexo" [(ngModel)]="associado.sexo" required name="sexo">
				<mat-option value="MASCULINO">
					Masculino
				</mat-option>
				<mat-option value="FEMININO">
					Feminino
				</mat-option>
			</mat-select>
			<mat-form-field>
				<input matInput placeholder="endereco" [(ngModel)]="associado.endereco" required name="endereco">
			</mat-form-field>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button type="button" mat-raised-button [disabled]="!formAssociado.form.valid" [mat-dialog-close]="associado">SALVAR</button>
		<button type="button" mat-button (click)="dialogRef.close()">CANCELAR</button>
	</mat-card-actions>
</mat-card>