<div class="content" fxLayout="row" fxLayoutAlign="space-around center">
	<mat-card >
		<mat-card-header>
			<mat-input-container>
				<input class="input" matInput [(ngModel)]="query" name="query" placeholder="Pesquise pela razão social do conveniado" (input)="filterConveniado(query)">
				<span fxFlex.gt-sm="50" fxFlex="100" class="p-5"></span>
			</mat-input-container>
		</mat-card-header><br>
		<mat-card-content>
			<mat-card-content>
				<mat-list>
					<mat-list-item *ngFor="let conveniado of finalConveniados" class="conveniadoReg">
						<hr align="center" width="700" size="0">
						<div fxLayout="row" fxLayoutAlign="space-between center" >
							<div class="divNome"> 
								<h4 mat-line>{{conveniado.razaosocial}}</h4>
							</div>
							<div class="divCodigo">
								<h4 mat-line>{{conveniado.telefone}}</h4>
							</div>
							<div>
								<button mat-icon-button color="primary" (click)="openDialog(conveniado)"
									matTooltip="Editar o Conveniado {{conveniado.razaosocial}}">
									<mat-icon>create</mat-icon>
								</button>
								<button mat-icon-button color="warn" (click)="delete(conveniado)"
									matTooltip="Remover o Conveniado {{conveniado.razaosocial}}">
									<mat-icon>delete</mat-icon>
								</button>
							</div>
						</div>
					</mat-list-item>
				</mat-list>
				<hr align="center" width="700" size="0">
				<mat-paginator [length]="filteredConveniados.length" [pageSize]="5" (page)="onPaginateChange($event)"[pageSizeOptions]="[1, 5, 10, 25, 100]"></mat-paginator>
			</mat-card-content>
		</mat-card-content>
	</mat-card>
</div>

<button mat-fab (click)="openDialog()" class="fab-bottom-right">
	<mat-icon>add</mat-icon>
</button>