<div class="content">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
            <mat-card >
                <mat-card-header>
                    <div flex-gt-md>
                        <mat-form-field>
                            <input readonly="true" matInput name="data" [matDatepicker]="picker" 
                                [ngModel]="query" (ngModelChange)="onDataChange($event)"
                                [ngModelOptions]="{updateOn: 'blur'}" placeholder="Informe a data da venda">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <span fxFlex.gt-sm="50" fxFlex="100" class="p-5"></span>
                        </mat-form-field>
                        <button mat-icon-button color="#000" (click)="limparFiltro()" 
                            matTooltip="Limpar filtro">
                        <mat-icon>clear</mat-icon>
                    </button>
                    </div>                        
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <h3 mat-subheader>Vendas</h3>
                        <mat-list-item *ngFor="let venda of finalVendas">
                            <div fxLayout="row" fxLayoutAlign="space-between center" >
                                <md-virtual-repeat-container id="vertical-container">
                                    <div md-virtual-repeat="item in ctrl.infiniteItems" md-on-demand
                                        class="repeated-item" flex>
                                        <h4 mat-line>{{venda.data}}</h4>
                                        <p mat-line >{{venda.total | currency:'BRL':true:'1.2-2'}}</p>
                                    </div>
                                </md-virtual-repeat-container>
                                <div>
                                    <button mat-icon-button color="warn" (click)="delete(venda)" matTooltip="Remover a venda">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                  <mat-paginator [length]="filteredVendas.length" [pageSize]="5" (page)="onPaginateChange($event)"[pageSizeOptions]="[1, 5, 10, 25, 100]"></mat-paginator> 
                </mat-card-content>
            </mat-card>
        </div>
    </div>
      <button matTooltip="Adicionar novo produto" mat-fab (click)="openDialog()" class="fab-bottom-right">
        <mat-icon>add</mat-icon>
      </button>
  </div>
  
