<div class="content" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
  <md-card>
    <md-card-header>
      <md-card-title>Tipo Conveniado</md-card-title>
      <md-card-subtitle>Lista de tipos de conveniados</md-card-subtitle>
      <md-input-container>
        <input mdInput [(ngModel)]="query" name="query" placeholder="Pesquise por tipo de conveniado" (input)="filterTipoConveniado(query)">
      </md-input-container>
    </md-card-header>
    <md-card-content>
      <md-list>
        <h3 md-subheader>Tipo Conveniado</h3>
        <md-list-item *ngFor="let tipoconveniado of filteredTipoConveniados" (click)="openDialog(tipoconveniado)">
          <md-icon md-list-icon>folder</md-icon>
          <h4 md-line>{{tipoconveniado.descricao}}</h4>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>

<button md-fab (click)="openDialog()" class="fab-bottom-right">
  <md-icon>add</md-icon>
</button>
