<div class="content" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Categoria</mat-card-title>
			<mat-card-subtitle>Lista de categorias cadastradas</mat-card-subtitle>
			<mat-input-container>
				<input matInput [(ngModel)]="query" name="query" placeholder="Pesquise por categoria" (input)="filterCategoria(query)">
			</mat-input-container>
		</mat-card-header>
		<mat-card-content>
			<mat-list>
				<h3 mat-subheader>Categoria</h3>
				<mat-list-item *ngFor="let categoria of filteredCategorias" (click)="openDialog(categoria)">
					<mat-icon mat-list-icon>folder</mat-icon>
					<h4 mat-line>{{categoria.descricao}}</h4>
					<p mat-line> outra coisa... sei lá </p>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>

<button mat-fab (click)="openDialog()" class="fab-bottom-right">
	<mat-icon>add</mat-icon>
</button>