<div class="content" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
	<md-card>
		<md-card-header>
			<md-card-title>Categoria</md-card-title>
			<md-card-subtitle>Lista de categorias cadastradas</md-card-subtitle>
			<md-input-container>
				<input mdInput [(ngModel)]="query" name="query" placeholder="Pesquise por categoria" (input)="filterCategoria(query)">
			</md-input-container>
		</md-card-header>
		<md-card-content>
			<md-list>
				<h3 md-subheader>Categoria</h3>
				<md-list-item *ngFor="let categoria of filteredCategorias" (click)="openDialog(categoria)">
					<md-icon md-list-icon>folder</md-icon>
					<h4 md-line>{{categoria.descricao}}</h4>
					<p md-line> outra coisa... sei lá </p>
				</md-list-item>
			</md-list>
		</md-card-content>
	</md-card>
</div>

<button md-fab (click)="openDialog()" class="fab-bottom-right">
	<md-icon>add</md-icon>
</button>