<div class="content">
	<div fxLayout="row" fxLayoutAlign="space-around center">
		<div>
			<mat-card fxFlex>
				<mat-card-header>
					<h3 mat-subheader>Venda</h3> 
	            </mat-card-header>
					<mat-card-content>
					<div>
						<label>{{venda.data}}</label>
					</div>
					<br/>
					<mat-form-field>
						<mat-select placeholder="Selecione o associado"
								[(ngModel)]="venda.associado"
								[compareWith]="compararAssociado">
							<mat-option align-text="center">Selecione o associado</mat-option>
							<mat-option *ngFor="let associado of associados" 
							[value]="associado.id">{{associado.nome}}</mat-option>
						</mat-select>
					</mat-form-field>
						<br/><br/>
				<mat-card-footer style="padding:20px;">
					<button mat-raised-button (click)="addProduto()">Adicionar produto</button> 
				</mat-card-footer>								
					</mat-card-content>
			</mat-card>
				<mat-card style="width: 600px;">
					<h3>Produtos</h3>
						<mat-list>  
							<mat-dialog-content>
							<mat-list-item *ngFor="let vendaProduto of venda.produtos; let i=index">
								<div fxLayout="row" style="border-bottom: 1px solid #B5B5B5;">
									<div style="padding:10px; margin-right:20px;">
										<h4 mat-line>
											<mat-form-field>
												<mat-select placeholder="Selecione o produto"[ngModel]="vendaProduto.produto"
													(ngModelChange)="onProdutoChange($event, vendaProduto)"
													[compareWith]="compararProduto">
													<mat-option align-text="center">Selecione o produto</mat-option>
													<mat-option *ngFor="let produto of produtos" [value]="produto">
														{{produto.descricao}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</h4>
									</div>
									<div style="padding:10px; width: 160px; margin-right:10px;">
										<p mat-line>
											Valor Unitário: R$ {{vendaProduto.valor}}
										</p>
									</div>
									<div style="padding:10px; margin-right:20px;">
										<p mat-line>
											<mat-form-field style="width: 100px;">
											<input type="number" matInput min="1" [ngModel]="vendaProduto.quantidade"
												(ngModelChange)="onQuantidadeChange($event, vendaProduto)"
												name="quantidade[{{i}}]" placeholder="Informe a quantidade">
											</mat-form-field>
										</p>
									</div>
									<div style="margin-top:10px;">
										<button mat-icon-button color="warn"
											(click)="removerProduto(i)"
											matTooltip="Remover {{getDescricaoProduto()}}">
											<mat-icon>delete</mat-icon>
										</button>
									</div>
								</div>
							</mat-list-item>
							</mat-dialog-content>
						</mat-list>
						<mat-card-footer style="padding:20px;">
								<button style="float:right;" mat-button color="primary" [mat-dialog-close]="venda">Salvar</button>
								<h4 style="float:left;">Total da venda: R$ {{venda.total}}</h4>
						</mat-card-footer>
					</mat-card>
				</div>
			</div>
		</div>
	
	
	