<div class="content">
	<div fxLayout="row" fxLayoutAlign="space-around center">
	<mat-card fxFlex="40"> 
		   
		<mat-card-header>
			<mat-card-title>Chequinhos</mat-card-title>
			<mat-card-subtitle>Gerar Chequinhos</mat-card-subtitle>			
		</mat-card-header>		
		<mat-card-content>				
			<mat-form-field>	
				<mat-select [(ngModel)]="chequinho.associado"  id="cmbAssociado" placeholder="Selecione o Associado">
					<mat-option *ngFor="let associadoValue of associados" [value]="associadoValue">
						{{associadoValue.nome}}
					</mat-option>
				</mat-select>
				</mat-form-field>
				<p></p>
				<mat-input-container>								
					<input [(ngModel)]="chequinho.valorLimite" type="number"  matInput placeholder="Limite R$" class="example-right-align">
					<span matPrefix>R$&nbsp;</span>		
				</mat-input-container>										
					<p></p>
				<mat-input-container>
					<input type="number" matInput placeholder="Quantidade de chequinhos">
				</mat-input-container>													
													
			</mat-card-content>
			<mat-card-actions>
				<button type="button" mat-raised-button (click)="gerarChequinho()">GERAR</button>			
				<button type="button" mat-raised-button >LIMPAR</button>
			
		</mat-card-actions>
	</mat-card>
	</div>
</div>

