.mdInputCod {
    width: 65px;    
}

#valorExtenso{
    width: 600px;
}

#cmbAssociado{
    width: 350px;
}

#lblData{
    margin-left: 33%;
}


#lblIdent{
    margin-left: 45%;
}

#linh,#assinatura{
    margin-left: 45%;
}

#barCode{
    border: 1px solid black;
    height: 50px;
    width: 200px;        
}