
<div class="content" fxFlex fxLayout="grid" fxLayoutAlign="space-around ">			
	<md-card>    
		<md-card-header>
			<md-card-title>Chequinhos</md-card-title>
			<md-card-subtitle></md-card-subtitle>			
		</md-card-header>		
		<md-card-content>					
			<md-select id="cmbAssociado" placeholder="Selecione o Associado">
				<md-option value="option">Usuario</md-option>
			</md-select>
			<p></p>
			<md-input-container>								
				<input type="number" mdInput placeholder="Limite R$">
			</md-input-container>										
				<p></p>
			<md-input-container>
				<input type="number" mdInput placeholder="Quantidade de chequinhos">
			</md-input-container>													
									

		</md-card-content>
		<md-card-actions>
			<button type="button" md-raised-button >GERAR</button>
			<button type="button" md-raised-button >LIMPAR</button>
	</md-card-actions>
	</md-card>
</div>

