<div class="content">
	<div fxLayout="row" fxLayoutAlign="space-around center">
		<div>
			<mat-card fxFlex>
				<mat-card-header>
					<mat-card-title>Cadastro</mat-card-title>
					<mat-card-subtitle>Complete o seu cadastro</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<form #formAssociado>
						<mat-form-field class="example-full-width">
							<input matInput name="password" placeholder="Senha" [(ngModel)]="associado.password">
						</mat-form-field>
					</form>
				</mat-card-content>
			</mat-card>
		</div>
	</div>

	<button matTooltip="Adicionar um novo associado" mat-fab (click)="save(this.associado)" class="fab-bottom-right">
		<mat-icon>add</mat-icon>
	</button>
</div>