<div style="padding: 10px;">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon>account_circle</mat-icon>
            </div>
            <mat-card-title>{{usuario.nome}}</mat-card-title>
            <mat-card-subtitle>{{usuario.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Tab 1">Content 1</mat-tab>
                <mat-tab label="Tab 2">Content 2</mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>