<!--tela do lançamentos-->
<div class="container">
  <main role="main">
    <div class="row marketing">
      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="odd">
                    <th>Conveniado</th>
                    <th>Valor</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr mat-list-item *ngFor="let l of lancamentos">
                    <td>{{l.conveniado.razaosocial}}</td>
                    <td>{{l.valor}}</td>
                    <td>{{l.dataLancamento | date:"MM/dd/yyyy"}}</td>
                  </tr>                  
                </tbody>
              </table>
            </div>
          </main>
        </div>
      </div>
    </div>
  </main>
  <mat-paginator [length]="lancamentos.length" [pageSize]="5" (page)="onPaginateChange($event)"[pageSizeOptions]="[1, 5, 10, 25, 100]"></mat-paginator>
</div>
<br />



<!--verificar a criação da função list
https://mongodbwise.wordpress.com/2014/05/22/mongodb-guia-rapido/
http://fernandoanselmo.blogspot.com.br/2013/12/rest-arrumando-o-projeto.html

- PESQUISA NA TELA
- DATE FILTER
- ORDENAÇÃO DOS REGISTROS OU APRESENTAÇÃO POR MÊS DOS DADOS
- material designr
-->

