a {
    color: inherit;
    text-decoration: none;
  }
  
  /*navbar*/
  .navbar {
    background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
    border: 1px solid #e5e5e5;
    margin: 170px;
  }
  
  @media (min-width: 768px) {
    .navbar-nav {
      display: -ms-flexbox;
      display: flex;
    }
  
    .navbar-nav .nav-item {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      
    }
  }
  
  
  /* container da listagem principal */
  @media (min-width: 48em) {
    .container {
      max-width: 65rem;
      margin-left: 12%; /*tamanho estatico, mudar para dinamico*/
      margin-top: -8%;
    }
  }
  .container-narrow > hr {
    margin: 2rem 0;
  }
    
  /* listagem dos dados */
  .marketing {
    margin: 3rem 0;
  }
  .marketing p + h4 {
    margin-top: 1.5rem;
  }
  
  
  /*Tabela de listagem*/
  th{
    width: 10%;
    height: 30%;
  }
  
  th, td, a{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  