<!--menu navegação-->
<nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav text-md-center nav-justified w-100">
      <a class="nav-item nav-link" href="#">Chequinhos</a>
    
      <a class="nav-item nav-link" href="#">Plano de Saude</a>
    
      <a class="nav-item nav-link" href="#">Demais Gastos</a>
    </ul>
  </div>
  </nav>
<!--tela do corpo principal-->
<div class="container">
  <main role="main">
    <div class="row marketing">
      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th id="linha1">Chequinhos</th>
                    <th>Local</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>001</td>
                    <td>Mercado Brasao</td>
                    <td>R$ 300,00</td>
                  </tr>
                  <tr>
                    <td>002</td>
                    <td>Posto Patinho</td>
                    <td>R$ 200,00</td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>Ferraria</td>
                    <td>R$ 500,00</td>
                  </tr>
                  <tr>
                    <td>004</td>
                    <td>Mercado Patão</td>
                    <td>R$ 600,00</td>
                  </tr>
                  <tr>
                    <td>005</td>
                    <td>Mercado Economico</td>
                    <td>R$ 100,00</td>
                  </tr>
                  <tr>
                    <td>006</td>
                    <td>Mecanica</td>
                    <td>R$ 50,00</td>
                  </tr>
                  <tr>
                      <td>001</td>
                      <td>Mercado Brasao</td>
                      <td>R$ 300,00</td>
                    </tr>
                    <tr>
                      <td>002</td>
                      <td>Posto Patinho</td>
                      <td>R$ 200,00</td>
                    </tr>
                    <tr>
                      <td>003</td>
                      <td>Ferraria</td>
                      <td>R$ 500,00</td>
                    </tr>
                    <tr>
                      <td>004</td>
                      <td>Mercado Patão</td>
                      <td>R$ 600,00</td>
                    </tr>
                    <tr>
                      <td>005</td>
                      <td>Mercado Economico</td>
                      <td>R$ 100,00</td>
                    </tr>
                    <tr>
                      <td>006</td>
                      <td>Mecanica</td>
                      <td>R$ 50,00</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </main>
        </div>
      </div>		
    </div>
  </main>
</div> 
  
  


