
<!--tela do chequinho
<div class="container">
    <main role="main">
      <div class="row marketing">
        <div class="container-fluid">
          <div class="row">
            <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Chequinho</th>
                      <th>Valor</th>
                      <th>Data</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of chequinho">
                      <td>{{c.id}}</td>
                      <td>{{c.conveniado}}</td>
                      <td>{{c.valor}}</td>
                      <td>{{l.dataLancamento}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </main>
          </div>
        </div>
      </div>
    </main>
  </div>

https://mongodbwise.wordpress.com/2014/05/22/mongodb-guia-rapido/
http://fernandoanselmo.blogspot.com.br/2013/12/rest-arrumando-o-projeto.html

VERIFICAR SE PODE SER FEITO UMA SOMA DOS CONVENIADOS NA LISTAGEM DOS DADOS
-->