/*Titulo da tela*/
.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

/*corpo da div que apresenta os dados*/
.content {
  background-color: red;
  width: 70%;
  height: 70%;
  position: relative;
  margin: 2rem 0;
  margin-left: 13%;
  max-width: 65rem;
  margin-left: 12%; /*tamanho estatico, mudar para dinamico*/
  margin-top: 8%;
}

/* container da listagem principal */
@media (min-width: 48em) {
  .container {
    max-width: 65rem;
    margin-left: 12%; 
    margin-top: 8%;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}
  
/*Tabela de listagem*/
th{
  width: 10%;
  height: 30%;
}

/*Apresentação das descrições*/
th, td, a{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/*Estilização da tabela*/
/*Para zebrar a tabela*/
.even{
  background-color: #edf5ff;
}
tr:nth-child()even{ 
  background-color: #edf5ff;
}
tr:hover {/*add efeito hover nas linhas*/
  background-color:#C3D7F1;
  color: #fff;
}
thead tr:hover { /*removendo efeito do cabeçalho*/
  background-color: transparent;
  color: inherit;
}