<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
	<md-sidenav-container class="container">
		<md-sidenav #sidenav>
			<md-toolbar color="primary">
				<span>Menu</span>
				<span fxFlex></span>
				<button md-icon-button (click)="sidenav.close()">
				<md-icon>close</md-icon>
			</button>
				<!--<div fxFlex fxLayout="column" class="infoUser">
					<img src="{{currentUser.avatar}}" alt="Perfil imagen">
					<div fxLayout="row" fxLayoutAlign="space-around center" >
						<div fxLayout="column">
							<span class="infoUserName">{{currentUser.name}}</span>
							<span class="infoUserRole">{{currentUser.email}}</span>
						</div>
						<div>
							<button md-icon-button [mdMenuTriggerFor]="menu">
								<md-icon>more_vert</md-icon>
							</button>
							<md-menu #menu="mdMenu">
								<button md-menu-item (click)="sidenav.close()" [routerLink]="['/profile', currentUser.id]">Perfil</button>
								<button md-menu-item (click)="sidenav.close()" [routerLink]="['/login']">Sair</button>
							</md-menu>
						</div>
					</div>
					</div>-->

			</md-toolbar>

			<md-list>
				<h3 mdSubheader>Sub menu</h3>
				<md-list-item *ngFor="let item of menuItens" [ngClass]="{active: activeRoute('item.link')}" (click)="sidenav.close()" [routerLink]="['/'+ item.link]">
					<md-icon mdListIcon>{{item.icon}}</md-icon>
					<h4 mdLine>{{ item.desc }}</h4>
				</md-list-item>
				<md-divider></md-divider>
				<h3 mdSubheader>Sub menu 2</h3>
			</md-list>

		</md-sidenav>
		<md-toolbar color="primary">
			<button md-icon-button (click)="sidenav.open()">
				<md-icon>menu</md-icon>
			</button>
			<span>Assutef</span>
			<span fxFlex></span>
			<button md-icon-button [mdMenuTriggerFor]="themeMenu">
				<md-icon>more_vert</md-icon>
			</button>
		</md-toolbar>
		<div>
			<router-outlet></router-outlet>
		</div>
	</md-sidenav-container>
	<md-menu #themeMenu x-position="before">
		<button md-menu-item [routerLink]="['/profile']">Perfil</button>
		<button md-menu-item [routerLink]="['/login']">Sair</button>
		<button md-menu-item [routerLink]="['/config']">Configurações</button>
	</md-menu>
</div>